[Desktop Entry]
Name=Logseq
Exec=logseq --enable-features=UseOzonePlatform --ozone-platform=wayland
Icon=logseq
Terminal=false
Type=Application
Categories=Office;Productivity;